@font-face {
    font-family: '7seg Clock';
    src: url('fonts/7seg_clock.ttf') format('truetype');
}

body {
    margin: 0;
    overflow: hidden;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.clock-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(5px);
    font-family: '7seg Clock', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#time {
    color: rgb(0, 255, 42);
    padding: 5px;
}

#date {
    color: rgb(0, 255, 42);
    padding: 5px;
}